### Listings

In [4]:
country1 = "Pakistan"
country2 = "India"
country3 = "Australia"
country4 = "China"

In [5]:
print (country4)

China

## Slicing

In [ ]:
countries = print (type(countries))

<class 'list'>

In [8]:
countries

['Pakistan', 'India', 'Australia', 'China']

In [ ]:
countries.index("Pakistan")

#     0           1           2           3
# ["Pakistan" , "India" , "Australia", "China"]

0

In [31]:
# First Value = Included
# Last value = excluded
# list_name = [starting(included):ending(excluded)]


countries[0:2]

['Pakistan', 'India']

In [25]:
countries[0:3]

['Pakistan', 'India', 'Australia']

In [30]:
countries [2:]

['Australia', 'China']

In [28]:
countries [ : ]
countries

['Pakistan', 'India', 'Australia', 'China']

In [49]:
# list_name = [starting(included):ending(excluded): step]


countries [0::3]

['Pakistan', 'China']

In [50]:
#     0           1           2           3
# ["Pakistan" , "India" , "Australia", "China"]
#     -4          -3          -2          -1

In [51]:
countries [-4]

'Pakistan'

In [53]:
numbers = [1,2,3,4,5,6,7,8,9,0]

In [71]:
numbers [1::2]

[2, 4, 6, 8, 0]

In [81]:
numbers [-2::-2]

[9, 7, 5, 3, 1]

### Tuples

In [85]:
[1,2,3,4,5,6,7,8,9,0] #list --> mutuale --> changeable
(1,2,3,4,5,6,7,8,9,0) #tuple --> immuteable --> not changeable

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [83]:
type([1,2,3,4,5,6,7,8,9,0])

list

In [84]:
type((1,2,3,4,5,6,7,8,9,0))

tuple

In [95]:
list = [1,2,3,4,5,6,7,8,9,0]
list.append (11)
list[0] = 10 #update number
list

[10, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11]

In [100]:
# Because of immuutabily, tuple will give ERROR on updation  
tpl = (1,2,3,4,5,6,7,8,9,0) #do not have append function. it is unchanegable
## tpl.append (11) #'tuple' object has no attribute 'append'
## tpl [0] = 10 #'tuple' object does not support item assignment

In [102]:
tpl[2:5] #same principle of slicing of list

(3, 4, 5)

In [103]:
tpl[1::2]

(2, 4, 6, 8, 0)

In [106]:
tpl[::-1]

(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
tpl = (1,2,3,4,5,6,7,8,9,0)

tpl[1::2] #even
tpl[::2]  #odd
tpl[::-1] #reverse

(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

## **Loops**

```bash
for <temp-variable> in <iterator>:
    <for loop body>
````

In [111]:
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [112]:
tpl[0]

1

In [122]:
for temp in tpl:
    print(temp)

1
2
3
4
5
6
7
8
9
0

In [124]:
for temp in tpl[::-1]:
    print(temp)

#can use any variable in place of temp

0
9
8
7
6
5
4
3
2
1

In [125]:
list

[10, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11]

In [131]:
for i in list:
    print(i)

10
2
3
4
5
6
7
8
9
0
11